<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>To-do</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

<body>
<h1 th:text="#{vu.value.listTodo} + ':'"></h1>
  <div>
      <table class="table table-striped">
          <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Detail</th>>
          </tr>
          <tr th:each="todo : ${todoList}">
              <td th:text="${todo.id}">Id</td>
              <td th:text="${todo.title}">title</td>
              <td th:text="${todo.detail}">detail</td>
              <td><a th:href="${'/todo/detail/' + todo.id}">Detail</a></td>            
              <td><a th:href="${'/todo/edit/' + todo.id}">Edit</a></td>
              <td><a th:href="${'/todo/delete/' + todo.id}">Delete</a></td>
          </tr>
      </table>

  </div>


<a th:href="@{/addTodo}" th:text="#{vu.value.addTodo}" class="btn btn-success"></a>
</body>

</html>